/* Font */
$main-font: 'Red Hat Display', sans-serif;

/* Colors */
$bg: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);
$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);

/* Media Queries */
$mobile: 375px;
$desktop: 1440px;

/* Fonts size */
$regular: 500;
$bold: 700;
$black: 900;